.container {
  text-align: center;
}

#resultNumbers {
  text-align: center;
  color:dimgray;
}

body {
  background-color: aliceblue;
}

h1 {
  color:rgb(129, 173, 211);
  font-weight: bold;
}

h2 {
  color: rgb(129, 173, 211);
  font-style: italic;
}

p {
  color:slategrey;
}
